
button {
    margin-left: 10px;
}

#newBTN {
    background-color: blueviolet;
    margin-bottom: 10px;
}

.item {
    direction: rtl;
}

.container {
    direction: rtl;
    width: 60%;
}

#itemCost {
    position: fixed;
}

div {
    direction: rtl;
}
.navbar-nav {
    float: right;
}
.nav-tabs{
    float:right;
}
th {
    text-align: center;
}

.editItem {
    left: 0px;
}
button {
    margin-left: 10px;
}
table{
    background-color:yellow;
}
