item
button {
    margin-left: 10px;
}

hover span {
    display: block;
}   

#newBTN, #newProjectBtn {
    background-color: blueviolet;
    margin-bottom: 10px;
}

.item {
    direction: rtl;
}

.container {
    direction: rtl;
    width: 60%;
}

#itemCost {
    position: fixed;
}

div {
    direction: rtl;
}

.navbar-nav {
    float: right;
}
 .nav-tabs {
    float: right;
}
th {
    text-align: center;
}

.editItem {
    left: 0px;
}
button {
    margin-left: 10px;
}

table {
    background-color: #d9edf7
}

/*.navbar-brand {
    float: right;
    direction: rtl;
}*/

#costt {
    /*height: 40px;*/
    position: sticky;
    bottom: 0%;
    /*width: 100%;*/
    /*background-color: cornflowerblue;*/
    opacity: 1;
    border: black;
}
